<img class="home" src="assets/images/home5.jpg">

<h1 style="text-align:center">Welcome To LTI Insurance</h1>
<div class="container">
    <button type="button" class="btn btn-outline-primary btn-lg" >
      <a (click)="authentication('buyinsurance');">Buy Insurance</a>
    </button>
    <button type="button" class="btn btn-outline-primary btn-lg"  >
     <a (click)="authentication('viewinsurance');" >Renew Insurance</a>
    </button>
    <button type="button" class="btn btn-outline-primary btn-lg">
      <a (click)="authentication('claimrecords');">Claim Insurance</a>
    </button>
    <button type="button" class="btn btn-outline-primary btn-lg" >
      <a (click)="authentication('estimate');" >Estimate Insurance Calculation</a>
    </button>
  </div>
